@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: corporate --default;
	/* dim --prefersdark; */
}

@theme {
	--font-sans: 'Noto Sans', sans-serif;
}

@layer utilities {
	*::-webkit-scrollbar {
		display: none;
	}
	* {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
